<!DOCTYPE html>
<html lang="en">
<head>
    <title>Typescript Boilerplate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="test-jest" />
</head>
<body>
<div class="main-container container"></div>

</body>
</html>
